<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
<system.serviceModel>
  <behaviors>
    <serviceBehaviors>
      <behavior name="mybehavior">
        <serviceMetadata httpGetEnabled="true" policyVersion="Policy12"/>
      <serviceDebug includeExceptionDetailInFaults="False" />
      </behavior>
    </serviceBehaviors>
  </behaviors>
<services>
  <service name="ConsoleApplication2wcf.HelloService" behaviorConfiguration="mybehavior">
    <endpoint address="" contract="ConsoleApplication2wcf.IHelloService" binding="basicHttpBinding" name="mex"></endpoint>
    <host>
      <baseAddresses>
        <add baseAddress="http://localhost:7788"/>
      </baseAddresses>
    </host>
  <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"></endpoint>
  </service>
</services>

</system.serviceModel>
</configuration>